body {

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  height:100%;
}


#main {

  margin-top: 50px;

}

.dog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

@media screen and (max-width: 450px) {
  a.brand-logo {
    font-size: 1.5em !important;

  }

  /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
}

main {
  flex: 1 0 auto;
}

/* i tried doing some styling for the content to show correctly on the card but i was unsuccessful :(( */
.myDescription {

  display: inline !important;
}

.myImage {

  display: inline !important;
}

.card-image {

  display: inline !important;

}

.card-title {
  color: black !important;
  position: relative !important;
  font-weight: bold !important;
}
